.flex-items{
  padding-top: 24px;
}
.flex-item{
  padding: 24px 0 32px;
}
.flex-ttl{
  color: $color-main;
  font-size: 20px;

  span{
    display: block;
    font-size: 0.9rem;
    font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
    font-style: italic;
    color: $color-sub;
  }
}

.flex-txt{
  line-height: 2;
  padding-top: 16px;
}

.flex-imgArea{
  padding-top: 24px;

  img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}