/*---------------------------------

  全体共通

---------------------------------*/
body{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',YuGothic,'Yu Gothic',sans-serif;
  color: #333;
}

.inner{
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

$container_size: 1024px;

$pc: $container_size;

$mq_pc: 'screen and (min-width: #{$container_size})';
$mq_tab: 'screen and (min-width: 481px)';
$mq_sp: 'screen and (max-width: 480px)';

$color-main: #1E1F4B;
$color-sub: #A9A9B4;
$color-bg: #F5F8FB;

/*---------------------------------

  余白

---------------------------------*/
.section{
  padding: 64px 0;
}

.pt0{
  padding-top: 0 !important;
}

.pb0{
  padding-bottom: 0;
}

.page-header{
  padding-top: 20px;
}

@media #{$mq_pc}{
  .section{
    padding: 80px 0;
  }
}

/*---------------------------------

  見出し

---------------------------------*/
.section-ttls{
  span{
    font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
    font-style: italic;
    color: $color-main;
    display: inline-block;
    border-bottom: 1px solid $color-main;
    padding: 3px;
  }
}

.section-ttl{
  padding-top: 12px;
}

.section-txt{
  padding-top: 8px;
  line-height: 2;
}

/*---------------------------------

  txt

---------------------------------*/

.txts{
  padding-top: 24px;
  line-height: 2;
}

.img{
  padding-top: 24px;
  
  img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.center{
  text-align: center;
}

/*---------------------------------

  btn

---------------------------------*/
.btn{
  display: block;
  width: 200px;
  border: 1px solid $color-main;
  background: $color-main;
  text-align: center;
  padding: 12px 0;
  margin-top: 16px;
  color: #fff;

  &-center{
    margin: 16px auto;
  }
}

/*---------------------------------

  bg

---------------------------------*/
.bg{
  background: $color-bg;
}
